@charset "UTF-8";

.eyeIcon {
	font-size: 15px;
	color: #888888;
	position: relative;
	bottom: 29px;
	left: 335px;
	cursor: pointer;
}

.eyeIcon2 {
	display: none;
	font-size: 15px;
	color: #888888;
	position: relative;
	bottom: 29px;
	left: 335px;
	cursor: pointer;
}

.pwdUpdatefrm {
	align-items: center;
}

.pwdSpanDiv {
	display: flex;
	justify-content: center;
}

.pwdSpan {
	font-size: 13px;
	color: #313131;
	text-align: center;
	margin-top: -15px;
	margin-bottom: 23px;
}

.pwdButton {
	width: 100%;
	align-items: start;
	display: flex;
	align-items: top;
	justify-content: center;
}

.pwdButton>input {
	position: relative;
	display: inline-block;
	margin-right: 6px;
	padding: 7px 16px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.2s;
	font-weight: 700;
	border-radius: 10px;
}

.pwdButton>input[type="reset"] {
	color: #8F8F8F;
	border: 2px solid #8F8F8F;
}

.pwdButton>input[type="submit"] {
	color: white;
	border: 2px solid #20C997;
	background-color: #20C997;
}

/* μΈν’‹ */
.pwdUpdatefrm {
	display: inline-block;
	justify-content: center;
	width: 430px;
}

.pwdTitle {
	text-align: center;
}

.pwdUpdateDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

.inputCss {
	width: 280px;
	background-color: white;
	color: #242424;
	padding-left: 12px;
	height: 30px;
	border-radius: 10px;
	outline: none;
	border: none;
	line-height: 1.15;
	border: 2px solid #cfcfcf;
}

.inputCss:focus {
	border: 2px solid #20C997;
}

.inputCss:hover {
	border: 2px solid #20C997;
}